
/*receteamos el box sizing*/
html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

/* que todo los elementos hereden el box-sizing  del html*/
*,
*:before,
*:after{
    box-sizing: inherit;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

h1{
    background-color: yellowgreen;
}