h1{
    background-color: royalblue;
    background-color: aqua;
    background-color: brown;
    background-color: seagreen;
    background-color: beige;
    background-color: black;
    color: greenyellow;
}